.loader {
  width: 17.6px;
  height: 17.6px;
  border-radius: 17.6px;
  box-shadow: 44px 0px 0 0 rgba(28, 133, 103, 0.2), 35.6px 26px 0 0 rgba(28, 133, 103, 0.4), 13.64px 41.8px 0 0 rgba(28, 133, 103, 0.6), -13.64px 41.8px 0 0 rgba(28, 133, 103, 0.8), -35.6px 26px 0 0 #1c8567;
  animation: spinner-b87k6z 1s infinite linear;
  margin: auto;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}