[Unit]
Description=Apaga diretórios diariamente

[Service]
Type=oneshot
ExecStart=/usr/local/bdtd-vufind/scripts/delete_files.sh

[Install]
WantedBy=multi-user.target

